version: 2

aliases:
  - &default_env
    environment:
      CACHE_KEY: 6
  - &create_cache_key_file
    run:
      name: Create cache control key file
      command: echo $CACHE_KEY > cache_key
  - &restore_docker_cache
    restore_cache:
      keys:
        - docker-cache-{{ checksum "cache_key" }}-{{ checksum "docker/app/Dockerfile" }}
        - docker-cache-{{ checksum "cache_key" }}
  - &save_docker_cache
    save_cache:
      key: docker-cache-{{ checksum "cache_key" }}-{{ checksum "docker/app/Dockerfile" }}
      paths:
        - ~/docker-images.tar.gz
  - &load_docker_cache
    run:
      name: Load docker images
      command: docker load -i ~/docker-images.tar.gz && docker images

jobs:
  build:
    <<: *default_env
    machine: true
    steps:
      - checkout
      - *create_cache_key_file
      - *restore_docker_cache
      - *load_docker_cache
      - run:
          name: Check cache file or generate cache.
          command: |
            docker-compose pull db
            docker-compose build
            docker images --filter "dangling=false" --format "{{.ID}}" | xargs docker save | gzip > ~/docker-images.tar.gz
      - *save_docker_cache

  test:
    <<: *default_env
    machine: true
    steps:
      - checkout
      - *create_cache_key_file
      - *restore_docker_cache
      - *load_docker_cache
      - run:
          name: Set up env
          command: cp .env.example .env
      - run:
          name: Run bench
          command: >
            docker-compose run bench bash -c '
              ./bin/bench -remotes=${ISUBATA_APP_HOST}:${ISUBATA_APP_PORT} -output /tmp/result.json &&
              if [ $(cat /tmp/result.json | jq '.pass') != 'true' ]; then exit 1; fi'

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build